Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update nanoid
  frontend/package.json
  frontend/yarn.lock
Due: none

Update nanoid (#956)
  frontend/package.json
  frontend/yarn.lock
Due: none

Add basic renovate config
  frontend/docker/Dockerfile.frontend
  renovate.json
Due: none

Add basic renovate config (#959)
  frontend/docker/Dockerfile.frontend
  renovate.json
Due: none

Add root package.json for renovate
  package.json
Due: none

Add root package.json for renovate (#961)
  package.json
Due: none

Add run summary pass percentage
  backend/alembic/env.py
  backend/alembic/versions/d18de2b3253f_backfill_pass_percent_in_run_summary.py
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/filters.py
  backend/ibutsu_server/tasks/runs.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/tasks/test_runs.py
  backend/tests/test_alembic_env.py
  backend/tests/test_filters.py
  frontend/src/constants.js
  frontend/src/pages/run-list.js
  frontend/src/pages/run-list.test.js
  frontend/src/pages/run.js
  frontend/src/utilities/index.js
  frontend/src/utilities/run.js
  frontend/src/utilities/run.test.js
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
  frontend/src/utilities/utilities.test.js
  scripts/ibutsu-pod.sh
Due: backend, frontend

Add run summary pass percentage (#849)
  backend/alembic/env.py
  backend/alembic/versions/d18de2b3253f_backfill_pass_percent_in_run_summary.py
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/filters.py
  backend/ibutsu_server/tasks/runs.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/tasks/test_runs.py
  backend/tests/test_alembic_env.py
  backend/tests/test_filters.py
  frontend/src/constants.js
  frontend/src/pages/run-list.js
  frontend/src/pages/run-list.test.js
  frontend/src/pages/run.js
  frontend/src/utilities/index.js
  frontend/src/utilities/run.js
  frontend/src/utilities/run.test.js
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
  frontend/src/utilities/utilities.test.js
  scripts/ibutsu-pod.sh
Due: backend, frontend

Revert "Add root package.json for renovate (#961)"
  package.json
Due: none

Revert "Add root package.json for renovate (#961)" (#963)
  package.json
Due: none

Remove "Summary" prefix from run filter labels
  frontend/src/constants.js
Due: frontend

Remove "Summary" prefix from run filter labels (#964)
  frontend/src/constants.js
Due: frontend

Move sign-up to functional component
  frontend/src/pages/sign-up.js
  frontend/src/pages/sign-up.test.js
Due: frontend

Expand tests for signup
  frontend/src/pages/sign-up.js
  frontend/src/pages/sign-up.test.js
  frontend/src/routes/base.js
  frontend/src/utilities/auth.js
Due: frontend

Update to yarn 4.17.1
  frontend/package.json
Due: none

Fix password strength bar
  frontend/src/pages/reset-password.js
  frontend/src/pages/sign-up.js
Due: frontend

Move sign-up to functional component (#965)
  frontend/package.json
  frontend/src/pages/reset-password.js
  frontend/src/pages/sign-up.js
  frontend/src/pages/sign-up.test.js
  frontend/src/routes/base.js
  frontend/src/utilities/auth.js
Due: frontend

Switch to use over useContext, eslint warning
  frontend/src/components/classify-failures.js
  frontend/src/components/classify-failures.test.js
  frontend/src/components/contexts/filter-context.js
  frontend/src/components/file-upload.js
  frontend/src/components/filtering/admin-filter.js
  frontend/src/components/filtering/result-filter.js
  frontend/src/components/filtering/run-filter.js
  frontend/src/components/heat-map-wrapper.js
  frontend/src/components/hooks/use-table-filters.js
  frontend/src/components/hooks/use-widget-filters.js
  frontend/src/components/hooks/use-widgets.js
  frontend/src/components/ibutsu-header.js
  frontend/src/components/result-view.js
  frontend/src/components/sidebar.js
  frontend/src/components/test-history.test.js
  frontend/src/pages/admin/project-edit.js
  frontend/src/pages/admin/project-list.js
  frontend/src/pages/admin/user-list.js
  frontend/src/pages/dashboard.js
  frontend/src/pages/login.js
  frontend/src/pages/result-list.js
  frontend/src/pages/run-list.js
  frontend/src/pages/run.js
  frontend/src/routes/ibutsu-page.js
  frontend/src/test-utils/test-helpers.js
  frontend/src/views/accessibility-analysis.js
  frontend/src/views/accessibility-dashboard.js
  frontend/src/views/compare-runs.js
  frontend/src/views/compare-runs.test.js
  frontend/src/views/jenkins-job-analysis.js
  frontend/src/views/jenkins-job.js
  frontend/src/views/jenkins-job.test.js
  frontend/src/widgets/filter-heatmap.js
Due: frontend

Use Context directly instead of ContextProvider
  frontend/src/components/classify-failures.test.js
  frontend/src/components/contexts/filter-context.js
  frontend/src/components/contexts/ibutsu-context.js
  frontend/src/components/filtering/admin-filter.test.js
  frontend/src/components/filtering/result-filter.test.js
  frontend/src/components/filtering/run-filter.test.js
  frontend/src/components/ibutsu-header.test.js
  frontend/src/components/result-view.test.js
  frontend/src/pages/admin/project-edit.test.js
  frontend/src/pages/admin/project-list.test.js
  frontend/src/pages/admin/user-list.test.js
  frontend/src/pages/dashboard.test.js
  frontend/src/pages/login.test.js
  frontend/src/pages/result-list.test.js
  frontend/src/pages/run-list.test.js
  frontend/src/pages/run.test.js
  frontend/src/test-utils/test-helpers.js
  frontend/src/views/compare-runs.test.js
  frontend/src/views/jenkins-job-analysis.test.js
  frontend/src/views/jenkins-job.test.js
  frontend/src/widgets/filter-heatmap.test.js
Due: frontend

Remove unused state in accessibility-analysis
  frontend/src/views/accessibility-analysis.js
Due: frontend

yarn upgrade including apexcharts v6
  frontend/package.json
  frontend/yarn.lock
Due: none

Add licenses to containers
  backend/docker/Dockerfile.backend
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
  backend/licenses/LICENSE
  frontend/docker/Dockerfile.frontend
  frontend/licenses/LICENSE
Due: none

fix toolbar nesting, dedupe apex, tree shake
  frontend/package.json
  frontend/src/widgets/result-aggregate-apex.js
  frontend/src/widgets/result-aggregate-apex.test.js
  frontend/src/widgets/result-summary-apex.js
  frontend/src/widgets/result-summary-apex.test.js
  frontend/src/widgets/run-aggregate-apex.js
  frontend/src/widgets/run-aggregate-apex.test.js
  frontend/vite.config.js
  frontend/yarn.lock
Due: frontend

Add licenses to containers (#980)
  backend/docker/Dockerfile.backend
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
  backend/licenses/LICENSE
  frontend/docker/Dockerfile.frontend
  frontend/licenses/LICENSE
Due: none

yarn upgrade including apexcharts v6 (#975)
  frontend/package.json
  frontend/src/widgets/result-aggregate-apex.js
  frontend/src/widgets/result-aggregate-apex.test.js
  frontend/src/widgets/result-summary-apex.js
  frontend/src/widgets/result-summary-apex.test.js
  frontend/src/widgets/run-aggregate-apex.js
  frontend/src/widgets/run-aggregate-apex.test.js
  frontend/vite.config.js
  frontend/yarn.lock
Due: frontend

routing fix for sidebar navigation
  frontend/src/components/sidebar.js
  frontend/src/components/sidebar.test.js
Due: frontend

routing fix for sidebar navigation (#985)
  frontend/src/components/sidebar.js
  frontend/src/components/sidebar.test.js
Due: frontend

handle relative splat paths for react-router v7
  frontend/src/routes/admin-page.js
  frontend/src/routes/admin.js
  frontend/src/routes/base.js
  frontend/src/routes/profile-page.js
  frontend/src/routes/profile.js
Due: frontend

Adjust all splat routes for v7 patterns
  frontend/src/routes/admin-page.js
  frontend/src/routes/admin.js
  frontend/src/routes/app.js
  frontend/src/routes/base.js
  frontend/src/routes/profile-page.js
  frontend/src/routes/profile.js
Due: frontend

Clear bad project UUID on redirect
  frontend/src/components/ibutsu-header.js
  frontend/src/components/ibutsu-header.test.js
Due: frontend

handle relative splat paths for react-router v7 (#1001)
  frontend/src/components/ibutsu-header.js
  frontend/src/components/ibutsu-header.test.js
  frontend/src/routes/admin-page.js
  frontend/src/routes/admin.js
  frontend/src/routes/app.js
  frontend/src/routes/base.js
  frontend/src/routes/profile-page.js
  frontend/src/routes/profile.js
Due: frontend

test-history, handle missing component warning
  frontend/src/components/test-history.js
  frontend/src/components/test-history.test.js
Due: frontend

Fix heatmap label keys
  frontend/src/components/heat-map-wrapper.js
Due: frontend

test-history, handle missing component warning (#1011)
  frontend/src/components/heat-map-wrapper.js
  frontend/src/components/test-history.js
  frontend/src/components/test-history.test.js
Due: frontend

Handle header column accessibility
  frontend/src/components/filtering/filtered-table-card.js
  frontend/src/pages/run.js
  frontend/src/widgets/generic-bar.js
Due: frontend

Handle header column accessibility (#1010)
  frontend/src/components/filtering/filtered-table-card.js
  frontend/src/pages/run.js
  frontend/src/widgets/generic-bar.js
Due: frontend

Updates to fronend deps
  frontend/package.json
  frontend/yarn.lock
Due: none

Updates to fronend deps (#1012)
  frontend/package.json
  frontend/yarn.lock
Due: none

Path conditions:
  backend: any of: backend/ibutsu_server/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
  frontend: any of: frontend/src/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
