Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error

flags:
  backend:
    paths:
      - backend/ibutsu_server/
    carryforward: true
    after_n_builds: 3  # Wait for all 3 Python versions
    target: 7%
    threshold: 0.5%

  frontend:
    paths:
      - frontend/src/
    carryforward: true
    target: 7%
    threshold: 0.5%

comment:
  layout: "header, diff, flags, files, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main

ignore:
  - "backend/ibutsu_server/test/**"
  - "backend/ibutsu_server/tests/**"
  - "backend/ibutsu_server/migrations/**"
  - "frontend/src/**/*.test.js"
  - "frontend/src/**/*.spec.js"
  - "frontend/src/setupTests.js"
  - "frontend/src/index.js"

Updates to test docs
  backend/tests/TEST_GUIDE.md
  backend/tests/fixtures/README.md
  backend/tests/fixtures/data/SAMPLE_TEST_DATA_SUMMARY.md
  backend/tests/test_ibutsu_server.py
Due: none

Include coverage combine step for github
  .github/workflows/tests.yaml
Due: none

Fix flask_app storage for celery task instance
  backend/ibutsu_server/tasks/__init__.py
  backend/tests/test_tasks.py
Due: backend

Include project filter in ResultList run estimate
  frontend/src/pages/result-list.js
Due: frontend

dashboard_controller: use fetched project id
  backend/ibutsu_server/controllers/dashboard_controller.py
Due: backend

Add filter check for project and test coverage
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_result_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/test_filters.py
  codecov.yml
Due: none

Disable login for inactive accounts
  backend/ibutsu_server/controllers/login_controller.py
Due: backend

Add ModelMixin datetime parsing
  backend/ibutsu_server/db/models.py
Due: backend

Updates to test coverage
  backend/pyproject.toml
  backend/tests/controllers/test_widget_controller.py
  backend/tests/test_ibutsu_server.py
  backend/tests/test_importers.py
  backend/tests/test_tasks.py
  backend/tests/test_widgets.py
  backend/tests/widgets/test_filter_heatmap.py
  backend/tests/widgets/test_jenkins_heatmap.py
Due: none

Use auth_headers fixture
  backend/pyproject.toml
  backend/tests/controllers/test_admin_project_controller.py
  backend/tests/controllers/test_admin_user_controller.py
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_dashboard_controller.py
  backend/tests/controllers/test_group_controller.py
  backend/tests/controllers/test_health_controller.py
  backend/tests/controllers/test_import_controller.py
  backend/tests/controllers/test_project_controller.py
  backend/tests/controllers/test_result_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/controllers/test_task_controller.py
  backend/tests/controllers/test_user_controller.py
  backend/tests/controllers/test_widget_config_controller.py
  backend/tests/controllers/test_widget_controller.py
  backend/tests/fixtures/database.py
Due: none

user_controller, check token ownership and datetime
  backend/ibutsu_server/controllers/user_controller.py
Due: backend

Add project filter check for runs and results
  backend/ibutsu_server/controllers/result_controller.py
  backend/ibutsu_server/controllers/run_controller.py
  backend/ibutsu_server/filters.py
Due: backend

Add get_import_list to controller and API spec
  backend/ibutsu_server/controllers/import_controller.py
  backend/ibutsu_server/openapi/openapi.yaml
Due: backend

Update controller tests
  backend/tests/controllers/test_admin_project_controller.py
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_dashboard_controller.py
  backend/tests/controllers/test_task_controller.py
Due: none

Update widgets tests to integration pattern
  backend/tests/fixtures/database.py
  backend/tests/widgets/conftest.py
  backend/tests/widgets/test_accessibility_analysis.py
  backend/tests/widgets/test_filter_heatmap.py
  backend/tests/widgets/test_jenkins_heatmap.py
  backend/tests/widgets/test_jenkins_job_analysis.py
  backend/tests/widgets/test_jenkins_job_view.py
  backend/tests/widgets/test_result_aggregator.py
  backend/tests/widgets/test_widgets_result_summary.py
Due: none

Exclude xfail/xpass from JJV passes calculation
  backend/ibutsu_server/widgets/jenkins_job_view.py
Due: backend

Fix fspath metadata references in widget tests
  backend/ibutsu_server/widgets/jenkins_job_analysis.py
  backend/tests/widgets/test_compare_runs_view.py
Due: backend

Fixed config for coverage
  backend/pyproject.toml
Due: none

Coverage goal of 85% for most of backend
  codecov.yml
Due: none

Test fixes
  backend/ibutsu_server/util/urls.py
  backend/pyproject.toml
  backend/tests/fixtures/database.py
  backend/tests/test_tasks.py
  backend/tests/test_util.py
Due: backend

Fix hatch reference in github tests workflow
  .github/workflows/tests.yaml
Due: none

Consolidate codecov upload
  .github/workflows/tests.yaml
  codecov.yml
Due: none

fix/simplify codecov config
  .codecov.yml
  backend/pyproject.toml
  codecov.yml
Due: none

Ignore import and typing lines for coverage
  codecov.yml
Due: none

Update codecov.yml
  backend/pyproject.toml
  codecov.yml
Due: none
