Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

pass the project object when checking user
  backend/ibutsu_server/controllers/import_controller.py
Due: backend

Check that an artifact is found
  backend/ibutsu_server/controllers/artifact_controller.py
Due: backend

V3.0.9 (#831)
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

CAST jsonb, parser interpolation error
  backend/alembic/versions/e5736dbcc0b0_merge_perfscale_project_into_insights_qe.py
Due: none

v3.0.10
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Migration cast fix (#834)
  backend/alembic/versions/e5736dbcc0b0_merge_perfscale_project_into_insights_qe.py
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Simplify data migration
  backend/alembic/versions/e5736dbcc0b0_merge_perfscale_project_into_insights_qe.py
Due: none

Simplify data migration (#835)
  backend/alembic/versions/e5736dbcc0b0_merge_perfscale_project_into_insights_qe.py
Due: none

3.0.11 release
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

3.0.11 release (#836)
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

fix: make heatmap links bolder in dark mode
  frontend/src/index.css
Due: frontend

use pf var
  frontend/src/index.css
Due: frontend

fix: make heatmap links bolder in dark mode (#840)
  frontend/src/index.css
Due: frontend

Use pod replace in ibutsu-pod.sh
  scripts/ibutsu-pod.sh
Due: none

Use pod replace in ibutsu-pod.sh (#848)
  scripts/ibutsu-pod.sh
Due: none

Backend to ubi9.8
  backend/docker/Dockerfile.backend
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.fuzz_testing
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
Due: none

update backend pinned requirements
  backend/requirements-pinned.txt
Due: none

Remove disused containerfile
  backend/Containerfile
Due: none

Backend dependency updates (#851)
  backend/Containerfile
  backend/docker/Dockerfile.backend
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.fuzz_testing
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
  backend/requirements-pinned.txt
Due: none

Split tests workflow
  .github/workflows/tests-backend.yaml
  .github/workflows/tests-frontend.yaml
Due: none

Split tests workflow (#853)
  .github/workflows/tests-backend.yaml
  .github/workflows/tests-frontend.yaml
Due: none

Remove images from yarnclean
  frontend/.yarnclean
Due: none

Update frontend difs
  frontend/package.json
  frontend/yarn.lock
Due: none

Update cypress
  frontend/package.json
  frontend/yarn.lock
Due: none

depend on success for coverage upload
  .github/workflows/tests-backend.yaml
  .github/workflows/tests-frontend.yaml
Due: none

depend on success for coverage upload (#854)
  .github/workflows/tests-backend.yaml
  .github/workflows/tests-frontend.yaml
Due: none

update frontend deps, avoiding react 19
  frontend/package.json
  frontend/yarn.lock
Due: none

Aria-label and consistent 0% for 0 count runs
  backend/ibutsu_server/filters.py
  frontend/src/pages/run.js
  frontend/src/utilities/run.js
  frontend/src/utilities/run.test.js
Due: backend, frontend

Add run summary pass percentage
  backend/alembic/versions/d18de2b3253f_backfill_pass_percent_in_run_summary.py
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/filters.py
  backend/ibutsu_server/tasks/runs.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/tasks/test_runs.py
  backend/tests/test_filters.py
  frontend/src/constants.js
  frontend/src/pages/run-list.js
  frontend/src/pages/run-list.test.js
  frontend/src/pages/run.js
  frontend/src/utilities/index.js
  frontend/src/utilities/run.js
  frontend/src/utilities/run.test.js
  frontend/src/utilities/tables.js
Due: backend, frontend

consistent regex filters for operators
  backend/alembic/versions/d18de2b3253f_backfill_pass_percent_in_run_summary.py
  backend/ibutsu_server/filters.py
  backend/ibutsu_server/tasks/runs.py
  backend/tests/test_filters.py
Due: backend

use CTE for summary queries and clamp to 100
  backend/alembic/versions/d18de2b3253f_backfill_pass_percent_in_run_summary.py
Due: none

Review updates from sourcery/co-pilot
  backend/alembic/versions/d18de2b3253f_backfill_pass_percent_in_run_summary.py
  backend/ibutsu_server/filters.py
  backend/ibutsu_server/tasks/runs.py
  backend/tests/test_filters.py
  frontend/src/utilities/run.js
Due: backend, frontend

Update frontend deps (#852)
  frontend/.yarnclean
  frontend/package.json
  frontend/yarn.lock
Due: none

Opus rewrite to split CTEs for parse and compute
  backend/alembic/versions/d18de2b3253f_backfill_pass_percent_in_run_summary.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/filters.py
Due: backend

add build-args for frontend dockerfile
  frontend/docker/Dockerfile.frontend
Due: none

add build-args for frontend dockerfile (#857)
  frontend/docker/Dockerfile.frontend
Due: none

Set yarn to 4+
  frontend/package.json
Due: none

Migrate to yarn berry
  .github/workflows/tests-frontend.yaml
  .gitignore
  README.md
  build.sh
  docker-compose.dev.yml
  docs/source/developer-guide/getting-started.rst
  frontend/.dockerignore
  frontend/.yarnclean
  frontend/.yarnrc.yml
  frontend/docker/Dockerfile.frontend
  frontend/package.json
  frontend/yarn.lock
  ibutsu_pod.yaml
  scripts/ibutsu-pod.sh
Due: none

Slingshot yarn (#860)
  .github/workflows/tests-frontend.yaml
  .gitignore
  README.md
  build.sh
  docker-compose.dev.yml
  docs/source/developer-guide/getting-started.rst
  frontend/.dockerignore
  frontend/.yarnclean
  frontend/.yarnrc.yml
  frontend/docker/Dockerfile.frontend
  frontend/package.json
  frontend/yarn.lock
  ibutsu_pod.yaml
  scripts/ibutsu-pod.sh
Due: none

add buildarg for corepack envvar
  frontend/docker/Dockerfile.frontend
Due: none

Path conditions:
  backend: any of: backend/ibutsu_server/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
  frontend: any of: frontend/src/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
