Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update to react-router v8
  frontend/package.json
  frontend/src/components/sidebar.js
  frontend/src/components/sidebar.test.js
  frontend/src/routes/base.js
  frontend/yarn.lock
Due: frontend

Update to react-router v8 (#1018)
  frontend/package.json
  frontend/src/components/sidebar.js
  frontend/src/components/sidebar.test.js
  frontend/src/routes/base.js
  frontend/yarn.lock
Due: frontend

Use integers for pagination, stop double loading
  frontend/src/components/hooks/use-pagination.js
  frontend/src/components/hooks/use-pagination.test.js
  frontend/src/pages/admin/user-list.test.js
  frontend/src/pages/result-list.test.js
Due: frontend

Use integers for pagination, stop double loading (#1019)
  frontend/src/components/hooks/use-pagination.js
  frontend/src/components/hooks/use-pagination.test.js
  frontend/src/pages/admin/user-list.test.js
  frontend/src/pages/result-list.test.js
Due: frontend

3.1.0 versioning
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

3.1.0 versioning (#1039)
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Check run existence before acquiring the update_run lock
  backend/ibutsu_server/tasks/runs.py
  backend/tests/tasks/test_runs.py
Due: backend

Fix stuck update_run lock causing missing run metadata
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/tasks/runs.py
  backend/ibutsu_server/util/redis_lock.py
  backend/tests/tasks/test_runs.py
  backend/tests/tasks/test_tasks_init.py
  backend/tests/util/test_redis_lock.py
Due: backend

Address review feedback on lock acquisition failure message
  backend/ibutsu_server/util/redis_lock.py
  backend/tests/tasks/test_tasks_init.py
  backend/tests/util/test_redis_lock.py
Due: backend

Add lock handling to add_result_start_time
  backend/ibutsu_server/tasks/results.py
  backend/ibutsu_server/tasks/runs.py
  backend/ibutsu_server/util/redis_lock.py
  backend/tests/tasks/test_results.py
Due: backend

Add pool kwargs for sql connection handling
  backend/ibutsu_server/__init__.py
  backend/tests/test_init.py
Due: backend

Fix stuck update_run lock causing missing run metadata (#1054)
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/tasks/results.py
  backend/ibutsu_server/tasks/runs.py
  backend/ibutsu_server/util/redis_lock.py
  backend/tests/tasks/test_results.py
  backend/tests/tasks/test_runs.py
  backend/tests/tasks/test_tasks_init.py
  backend/tests/util/test_redis_lock.py
Due: backend

Release 3.1.1
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Release 3.1.1 (#1056)
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Should not have checked for run outside of lock
  backend/ibutsu_server/tasks/results.py
  backend/ibutsu_server/tasks/runs.py
  backend/tests/tasks/test_results.py
  backend/tests/tasks/test_runs.py
Due: backend

Update lock testing for result processing
  backend/tests/tasks/test_results.py
Due: none

Fix py2 ungrouped exception tuple
  backend/ibutsu_server/util/login.py
Due: backend

Should not have checked for run outside of lock (#1066)
  backend/ibutsu_server/tasks/results.py
  backend/ibutsu_server/tasks/runs.py
  backend/tests/tasks/test_results.py
  backend/tests/tasks/test_runs.py
Due: backend

Release 3.1.2
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Release 3.1.2 (#1067)
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

estimate run counts for high count datasets
  frontend/src/components/classify-failures.js
  frontend/src/pages/run.js
  frontend/src/utilities/http.js
Due: frontend

Rewrite update_run, use sql aggregations
  backend/ibutsu_server/tasks/runs.py
Due: backend

Update tests for http utilities
  frontend/src/utilities/http.js
  frontend/src/utilities/http.test.js
  frontend/vite.config.mjs
Due: frontend

estimate run counts for high count datasets (#1068)
  backend/ibutsu_server/tasks/runs.py
  frontend/src/components/classify-failures.js
  frontend/src/pages/run.js
  frontend/src/utilities/http.js
  frontend/src/utilities/http.test.js
  frontend/vite.config.mjs
Due: backend, frontend

add db migration, results run project index
  backend/alembic/versions/efdaeff6dc95_add_results_run_project_index.py
Due: none

Update apexcharts to v7
  frontend/package.json
  frontend/yarn.lock
Due: none

Update apexcharts to v7 (#1091)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update frontend deps, latest ranges
  frontend/package.json
  frontend/yarn.lock
Due: none

Update frontend deps, latest ranges (#1092)
  frontend/package.json
  frontend/yarn.lock
Due: none

Implement Celery worker scaling optimizations
  backend/docker/Dockerfile.worker
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/celery_utils.py
  backend/pyproject.toml
  docs/source/developer-guide/celery-worker-scaling.rst
  docs/source/index.rst
Due: backend

Implement Celery worker scaling optimizations (#1065)
  backend/docker/Dockerfile.worker
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/celery_utils.py
  backend/pyproject.toml
  docs/source/developer-guide/celery-worker-scaling.rst
  docs/source/index.rst
Due: backend

Simplify celery CMD for worker dockerfile
  backend/docker/Dockerfile.worker
Due: none

gitignore claude
  .gitignore
Due: none

Worker dockerfile CMD simplification (#1094)
  .gitignore
  backend/docker/Dockerfile.worker
Due: none

Keep worker commands for hostname
  backend/docker/Dockerfile.worker
Due: none

Keep worker commands for hostname (#1095)
  backend/docker/Dockerfile.worker
Due: none

Update backend and frontend, run/result handling
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/util/login.py
  backend/tests/test_importers.py
  frontend/src/pages/run.js
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
  frontend/src/widgets/result-aggregate-apex.js
  frontend/src/widgets/result-aggregate-apex.test.js
Due: backend, frontend

Updates for importer failure handling
  backend/alembic/versions/c4d5e6f7a8b9_add_composite_indexes_artifacts_idempotency.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/util/login.py
  backend/tests/test_importers.py
  frontend/src/pages/run.js
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
  frontend/src/widgets/result-aggregate-apex.js
  frontend/src/widgets/result-aggregate-apex.test.js
Due: backend, frontend

Update tables functions to use truthy-fallback
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
Due: frontend

simplify alembic migration, use inspect for idx
  backend/alembic/versions/c4d5e6f7a8b9_add_composite_indexes_artifacts_idempotency.py
Due: none

Path conditions:
  backend: any of: backend/ibutsu_server/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
  frontend: any of: frontend/src/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
