Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update importers, db models for type handling
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/util/__init__.py
  backend/ibutsu_server/util/uuid.py
  backend/tests/test_importers.py
Due: backend

add db migration, results run project index
  backend/alembic/versions/efdaeff6dc95_add_results_run_project_index.py
Due: none

fix migration: offline mode, invalid index cleanup, and SQLite support
  backend/alembic/versions/efdaeff6dc95_add_results_run_project_index.py
  backend/ibutsu_server/db/models.py
  backend/tests/test_migration_efdaeff6dc95.py
Due: backend

add db migration, results run project index (#1069)
  backend/alembic/versions/efdaeff6dc95_add_results_run_project_index.py
  backend/ibutsu_server/db/models.py
  backend/tests/test_migration_efdaeff6dc95.py
Due: backend

simplify alembic migration, use inspect for idx
  backend/alembic/versions/c4d5e6f7a8b9_add_composite_indexes_artifacts_idempotency.py
Due: none

Importer and model updates from review
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/importers.py
  backend/tests/db/test_models.py
  backend/tests/test_celery_utils.py
  backend/tests/test_importers.py
  frontend/src/pages/run.js
  frontend/src/utilities/tables.test.js
Due: backend, frontend

Import retry and metadata handling
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/importers.py
  backend/tests/db/test_models.py
  backend/tests/test_celery_utils.py
  backend/tests/test_importers.py
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
Due: backend, frontend

Updates for importer failure handling
  backend/alembic/versions/c4d5e6f7a8b9_add_composite_indexes_artifacts_idempotency.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/util/login.py
  backend/tests/test_importers.py
  frontend/src/pages/run.js
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
  frontend/src/widgets/result-aggregate-apex.js
  frontend/src/widgets/result-aggregate-apex.test.js
Due: backend, frontend

Update tables functions to use truthy-fallback
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
Due: frontend

Update backend and frontend, run/result handling
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/util/login.py
  backend/tests/test_importers.py
  frontend/src/pages/run.js
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
  frontend/src/widgets/result-aggregate-apex.js
  frontend/src/widgets/result-aggregate-apex.test.js
Due: backend, frontend

Clearly separate int/float fields
  backend/alembic/versions/c4d5e6f7a8b9_add_composite_indexes_artifacts_idempotency.py
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/filters.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/test_filters.py
Due: backend

drop table_args from Artifact, junit import fix
  backend/alembic/versions/c4d5e6f7a8b9_add_composite_indexes_artifacts_idempotency.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/importers.py
  backend/tests/db/test_models.py
  backend/tests/test_importers.py
  backend/tests/test_migration_c4d5e6f7a8b9.py
Due: backend

Remove cypress
  .gitignore
  frontend/cypress.config.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.ts
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/yarn.lock
Due: none

frontend: improve table and chart robustness for run/result data
  frontend/src/pages/run.js
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
  frontend/src/widgets/result-aggregate-apex.js
  frontend/src/widgets/result-aggregate-apex.test.js
Due: frontend

backend: enhance ModelMixin.update, Celery retry handler, and util helpers
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/util/__init__.py
  backend/ibutsu_server/util/uuid.py
  backend/tests/db/test_models.py
  backend/tests/test_celery_utils.py
Due: backend

Remove cypress (#1111)
  .gitignore
  frontend/cypress.config.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.ts
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/yarn.lock
Due: none

Update vitest to v5
  .gitignore
  frontend/package.json
  frontend/vite.config.mjs
  frontend/yarn.lock
Due: none

Update vitest to v5 (#1110)
  .gitignore
  frontend/package.json
  frontend/vite.config.mjs
  frontend/yarn.lock
Due: none

frontend: improve table and chart robustness for run/result data (#1113)
  frontend/src/pages/run.js
  frontend/src/utilities/tables.js
  frontend/src/utilities/tables.test.js
  frontend/src/widgets/result-aggregate-apex.js
  frontend/src/widgets/result-aggregate-apex.test.js
Due: frontend

backend: enhance ModelMixin.update, Celery retry handler, and util helpers (#1115)
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/util/__init__.py
  backend/ibutsu_server/util/uuid.py
  backend/tests/db/test_models.py
  backend/tests/test_celery_utils.py
Due: backend

add db migration, composite indexes for artifacts and results idempotency
  backend/alembic/versions/c4d5e6f7a8b9_add_composite_indexes_artifacts_idempotency.py
  backend/ibutsu_server/db/models.py
  backend/tests/test_migration_c4d5e6f7a8b9.py
Due: backend

filters: clearly separate integer and float fields for json cast
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/filters.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/test_filters.py
Due: backend

filters: clearly separate integer and float fields for json cast (#1114)
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/filters.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/test_filters.py
Due: backend

add db migration, composite indexes for artifacts and results idempotency (#1112)
  backend/alembic/versions/c4d5e6f7a8b9_add_composite_indexes_artifacts_idempotency.py
  backend/ibutsu_server/db/models.py
  backend/tests/test_migration_c4d5e6f7a8b9.py
Due: backend

Fix max_retries handling in celery util for -1
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/tasks/importers.py
  backend/tests/test_celery_utils.py
  backend/tests/test_importers.py
Due: backend

importers: improve reliability, idempotency, and failure rollback handling
  backend/ibutsu_server/tasks/importers.py
  backend/tests/test_importers.py
Due: backend

Move importer behaviors into functions
  backend/ibutsu_server/tasks/importers.py
  backend/tests/test_importers.py
Due: backend

Backend importer idempotency (#1116)
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/tasks/importers.py
  backend/tests/test_celery_utils.py
  backend/tests/test_importers.py
Due: backend

Resolve duplicate results on re-import
  backend/ibutsu_server/tasks/importers.py
  backend/tests/test_importers.py
Due: backend

Resolve duplicate results on re-import (#1117)
  backend/ibutsu_server/tasks/importers.py
  backend/tests/test_importers.py
Due: backend

Remove pymongo dependency
  backend/ibutsu_server/controllers/admin/project_controller.py
  backend/ibutsu_server/controllers/project_controller.py
  backend/ibutsu_server/util/__init__.py
  backend/ibutsu_server/util/uuid.py
  backend/pyproject.toml
  backend/requirements-pinned.txt
  backend/tests/controllers/test_admin_project_controller.py
  backend/tests/test_util.py
Due: backend

Remove pymongo dependency (#1118)
  backend/ibutsu_server/controllers/admin/project_controller.py
  backend/ibutsu_server/controllers/project_controller.py
  backend/ibutsu_server/util/__init__.py
  backend/ibutsu_server/util/uuid.py
  backend/pyproject.toml
  backend/requirements-pinned.txt
  backend/tests/controllers/test_admin_project_controller.py
  backend/tests/test_util.py
Due: backend

Add importer tests for objectid rejection
  backend/tests/test_importers.py
Due: none

Add importer tests for objectid rejection (#1121)
  backend/tests/test_importers.py
Due: none

separate backend builder layers in images
  backend/docker/Dockerfile.backend
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/util/uuid.py
  backend/tests/test_celery_utils.py
  backend/tests/test_optional_dependencies.py
  backend/tests/test_util.py
  backend/uv.lock
Due: backend

Migrate to uv for backend
  .github/workflows/tests-backend.yaml
  AGENTS.md
  backend/.dockerignore
  backend/docker/Dockerfile.backend
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/util/uuid.py
  backend/pyproject.toml
  backend/requirements-pinned.txt
  backend/tests/test_util.py
  backend/uv.lock
  docs/source/developer-guide/backend-testing.rst
  docs/source/developer-guide/deployment-architecture.rst
  docs/source/developer-guide/getting-started.rst
  docs/source/developer-guide/hatch-usage.rst
  docs/source/developer-guide/uv-usage.rst
  docs/source/index.rst
  scripts/make-release.sh
Due: backend

Update sqlite cleanup in tests, include httpx2
  backend/pyproject.toml
  backend/tests/controllers/test_admin_user_controller.py
  backend/tests/fixtures/database.py
  backend/tests/test_migration_c4d5e6f7a8b9.py
  backend/tests/test_migration_efdaeff6dc95.py
  backend/uv.lock
Due: none

use pip install uv instead of tarred binary
  backend/docker/Dockerfile.backend
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
Due: none

Release 3.1.3
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Path conditions:
  backend: any of: backend/ibutsu_server/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
  frontend: any of: frontend/src/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
