Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 85%
        threshold: 1%
        if_ci_failed: error

      backend:
        target: 85%
        threshold: 1%
        if_ci_failed: error
        flags:
          - backend

      frontend:
        target: 85%
        threshold: 1%
        if_ci_failed: error
        flags:
          - frontend

    patch:
      default:
        target: 85%
        threshold: 1%
        if_ci_failed: error

flags:
  backend:
    paths:
      - backend/ibutsu_server/
    carryforward: true
    # Enable flag-specific badges
    assume_all_flags: false

  frontend:
    paths:
      - frontend/src/
    carryforward: true
    # Enable flag-specific badges
    assume_all_flags: false

comment:
  layout: "header, diff, flags, files, footer"
  behavior: default
  require_changes: false

ignore:
  - "backend/tests/**"
  - "frontend/src/**/*.test.js"
  - "frontend/src/**/*.spec.js"
  - "frontend/src/setupTests.js"
  - "frontend/src/index.js"

Update test patterns for app reset
  .gitignore
  backend/tests/conftest.py
  backend/tests/fixtures/database.py
  backend/tests/test_celery_app.py
  backend/tests/test_init.py
Due: none

Flower arg adjustments in the templates
  backend/docker/Dockerfile.flower
  ocp-templates/mpp/flower.yaml
  ocp-templates/mpp/scheduler.yaml
  ocp-templates/prod/flower.yaml
  ocp-templates/stage/flower.yaml
Due: none

Fix runs model data get call
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/tasks/runs.py
  backend/tests/tasks/test_runs.py
  backend/tests/test_celery_app.py
  backend/tests/test_init.py
Due: backend

Handle empty sql options better on app construction
  backend/ibutsu_server/__init__.py
  backend/tests/test_init.py
Due: backend

Use update directly for dashboard delete
  backend/ibutsu_server/controllers/dashboard_controller.py
Due: backend

Update backend test coverage
  .pre-commit-config.yaml
  AGENTS.md
  backend/ibutsu_server/tasks/results.py
  backend/pyproject.toml
  backend/tests/controllers/test_dashboard_controller.py
  backend/tests/tasks/test_db.py
  backend/tests/tasks/test_init.py
  backend/tests/tasks/test_query.py
  backend/tests/tasks/test_results.py
  backend/tests/tasks/test_runs.py
  backend/tests/test_init.py
  backend/tests/util/test_count.py
  backend/tests/util/test_oauth.py
Due: backend

Test fixes for dashboard controller and celery_app
  backend/tests/controllers/test_dashboard_controller.py
  backend/tests/test_celery_app.py
  backend/tests/test_init.py
Due: none

Update tests and wrap count yield
  backend/ibutsu_server/util/count.py
  backend/tests/tasks/test_tasks_init.py
  backend/tests/util/test_oauth.py
Due: backend

Add flower config, update ibutsu-pod
  backend/docker/Dockerfile.flower
  ocp-templates/README.md
  ocp-templates/mpp/flower.yaml
  scripts/ibutsu-pod.sh
Due: none

Fix AuthService to check for real tokens
  backend/docker/entrypoint.sh
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/__main__.py
  backend/ibutsu_server/controllers/admin/user_controller.py
  backend/ibutsu_server/controllers/dashboard_controller.py
  backend/ibutsu_server/controllers/task_controller.py
  backend/ibutsu_server/controllers/widget_config_controller.py
  backend/ibutsu_server/controllers/widget_controller.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/db/upgrades.py
  backend/ibutsu_server/db/util.py
  backend/ibutsu_server/filters.py
  backend/ibutsu_server/openapi/openapi.yaml
  backend/ibutsu_server/tasks/__init__.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/tasks/reports.py
  backend/ibutsu_server/tasks/runs.py
  backend/ibutsu_server/test/__init__.py
  backend/ibutsu_server/test/test_tasks.py
  backend/ibutsu_server/test/test_widget_config_controller.py
  backend/ibutsu_server/test/test_widget_controller.py
  backend/ibutsu_server/test/test_widgets_result_summary.py
  backend/ibutsu_server/util/app_context.py
  backend/ibutsu_server/util/celery_task.py
  backend/ibutsu_server/util/cors.py
  backend/ibutsu_server/util/count.py
  backend/ibutsu_server/util/redis_lock.py
  backend/ibutsu_server/util/widget.py
  backend/ibutsu_server/widgets/importance_component.py
  backend/ibutsu_server/widgets/jenkins_heatmap.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/ibutsu_server/widgets/run_aggregator.py
  backend/tests/test_tasks.py
  frontend/src/components/ProtectedRoute.js
  frontend/src/pages/login.js
  frontend/src/pages/service-worker.js
  frontend/src/routes/base.js
  frontend/src/utilities/auth.js
  frontend/src/utilities/http.js
Due: backend, frontend

Python 3.12 on rhel 9.7 for backend
  backend/docker/Dockerfile.backend
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
  backend/pyproject.toml
Due: none

Create unique celery app names
  backend/docker/Dockerfile.flower
  backend/docker/Dockerfile.scheduler
  backend/docker/Dockerfile.worker
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/tasks/__init__.py
  backend/tests/test_celery_app.py
  docker-compose-fuzz.yml
  docker-compose.dev.yml
  docker-compose.yml
  docs/source/examples/compose.rst
  ocp-templates/mpp/flower.yaml
  ocp-templates/prod/flower.yaml
  ocp-templates/stage/flower.yaml
  scripts/ibutsu-pod.sh
Due: backend

Updates for python 3.12
  .github/workflows/tests.yaml
  backend/default.settings.yaml
  backend/docker/Dockerfile.flower
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/controllers/artifact_controller.py
  backend/ibutsu_server/controllers/import_controller.py
  backend/ibutsu_server/controllers/result_controller.py
  backend/ibutsu_server/controllers/run_controller.py
  backend/ibutsu_server/db/upgrades.py
  backend/ibutsu_server/db/util.py
  backend/ibutsu_server/tasks/__init__.py
  backend/ibutsu_server/tasks/db.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/tasks/runs.py
  backend/ibutsu_server/util/uuid.py
  backend/ibutsu_server/widgets/filter_heatmap.py
  backend/ibutsu_server/widgets/jenkins_heatmap.py
  backend/ibutsu_server/widgets/jenkins_job_view.py
  backend/pyproject.toml
  backend/tests/controllers/test_run_controller.py
  backend/tests/controllers/test_user_controller.py
  backend/tests/controllers/test_widget_controller.py
  backend/tests/db/test_db_util.py
  backend/tests/fixtures/database.py
  backend/tests/fixtures/loader.py
  backend/tests/helpers/factories.py
  backend/tests/test_importers.py
  backend/tests/test_init.py
  backend/tests/test_main.py
  backend/tests/test_tasks.py
  backend/tests/util/test_keycloak.py
  backend/tests/util/test_login.py
  backend/tests/widgets/conftest.py
  backend/tests/widgets/test_compare_runs_view.py
  backend/tests/widgets/test_run_aggregator.py
Due: backend

AppRegistry cleanup for celery tests
  backend/tests/test_celery_app.py
Due: none

Add indicies to widget_config
  backend/CONNEXION3_MIGRATION.md
  backend/FLASK3_MIGRATION.md
  backend/MIGRATION_SUMMARY.md
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/db/__init__.py
Due: backend

Set --broker for flower directly
  backend/docker/Dockerfile.flower
  scripts/ibutsu-pod.sh
Due: none

Update ibutsu-pod flower deployment order
  scripts/ibutsu-pod.sh
Due: none

Simplify to CELERY_BROKER_URL dependency
  backend/default.settings.yaml
  backend/ibutsu_server/__init__.py
  backend/tests/test_celery_app.py
  backend/tests/test_init.py
  ocp-templates/mpp/flower.yaml
  ocp-templates/prod/flower.yaml
  ocp-templates/stage/flower.yaml
  scripts/ibutsu-pod.sh
Due: backend

Add tests for db and login utils
  backend/tests/controllers/test_task_controller.py
  backend/tests/db/test_util.py
  backend/tests/test_main.py
  backend/tests/util/test_keycloak.py
  backend/tests/util/test_login.py
Due: none

3.0.0 versioned and badge updates
  README.md
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Move to alembic upgrade pattern
  backend/MIGRATION_TO_ALEMBIC.md
  backend/alembic.ini
  backend/alembic/README.md
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/.gitkeep
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/db/UPGRADE_9_SUMMARY.md
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/db/upgrades.py
  backend/tests/test_init.py
Due: backend

Move local docs into RST docs
  README.md
  backend/HATCH_USAGE.md
  backend/MIGRATION_TO_ALEMBIC.md
  backend/alembic/README.md
  backend/docker/Dockerfile.backend
  backend/tests/TEST_GUIDE.md
  docs/source/developer-guide/alembic-commands.rst
  docs/source/developer-guide/alembic-migration.rst
  docs/source/developer-guide/deployment-architecture.rst
  docs/source/developer-guide/hatch-usage.rst
  docs/source/developer-guide/testing-guide.rst
  docs/source/index.rst
Due: none

Updates for database init patterns
  AGENTS.md
  backend/alembic/env.py
  backend/docker/Dockerfile.backend
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/db/util.py
  backend/pyproject.toml
  backend/scripts/README.md
  backend/scripts/init_db.py
  backend/tests/db/test_db_util.py
  backend/tests/fixtures/database.py
  backend/tests/test_init.py
  docker-compose.dev.yml
  scripts/ibutsu-pod.sh
Due: backend

Celery utils and alembic baseline
  AGENTS.md
  backend/alembic/env.py
  backend/alembic/versions/cacecc4f1237_initial_baseline_schema.py
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/__init__.py
  backend/scripts/init_db.py
  backend/tests/controllers/test_admin_user_controller.py
  backend/tests/tasks/test_tasks_init.py
  backend/tests/test_alembic_env.py
  backend/tests/test_celery_app.py
  backend/tests/test_celery_utils.py
  docs/source/developer-guide/celery-architecture.rst
  docs/source/developer-guide/celery-utils.rst
  docs/source/index.rst
  frontend/yarn.lock
  scripts/ibutsu-pod.sh
Due: backend

Update for eslint-react-hooks
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/utilities/http.test.js
  frontend/yarn.lock
Due: none
