Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Ignore import and typing lines for coverage
  codecov.yml
Due: none

Update codecov.yml
  backend/pyproject.toml
  codecov.yml
Due: none

Update backend coverage and codecodv config
  README.md
  backend/pyproject.toml
  backend/tests/test_encoder.py
  backend/tests/test_importers.py
  backend/tests/test_tasks.py
  backend/tests/test_templating.py
  codecov.yml
Due: none

Updates from code review
  backend/pyproject.toml
  backend/tests/test_encoder.py
  backend/tests/test_importers.py
  backend/tests/test_templating.py
  codecov.yml
Due: none

Fix tests
  backend/ibutsu_server/encoder.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/templates/result.html
  backend/tests/test_importers.py
  backend/tests/test_tasks.py
Due: backend

Update login handling for dev env
  backend/ibutsu_server/controllers/login_controller.py
  backend/tests/controllers/test_login_controller.py
  scripts/ibutsu-pod.sh
Due: backend

filteredHeatmap widget wizard fix for disabled next
  frontend/src/components/modals/new-widget-wizard.js
  frontend/src/pages/result-list.js
Due: frontend

Add test for NewWidgetWizard component
  frontend/src/components/modals/new-widget-wizard.test.js
  frontend/yarn.lock
Due: none

2.8.5
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Extend frontend test coverage
  frontend/eslint.config.mjs
  frontend/src/components/result-view.test.js
  frontend/src/pages/run.test.js
  frontend/src/setupTests.js
  frontend/src/test-utils/constants.js
  frontend/src/test-utils/index.js
  frontend/src/test-utils/mock-data.js
  frontend/src/test-utils/test-helpers.js
  frontend/src/utilities/auth.test.js
  frontend/src/utilities/dates.test.js
  frontend/src/utilities/http.test.js
  frontend/src/utilities/widget.test.js
  frontend/src/widgets/result-summary-apex.test.js
Due: frontend

Fix prepareUrl handling of trailing slashes
  frontend/src/utilities/http.js
Due: frontend

Updates and fixes for frontend
  frontend/package.json
  frontend/src/pages/View.js
  frontend/src/pages/admin/home.test.js
  frontend/src/pages/admin/project-list.js
  frontend/src/pages/admin/project-list.test.js
  frontend/src/pages/admin/user-list.js
  frontend/src/pages/admin/user-list.test.js
  frontend/src/setupTests.js
  frontend/src/test-utils/mock-data.js
  frontend/src/utilities/http.test.js
  frontend/src/views/accessibility-analysis.js
  frontend/src/views/accessibility-dashboard.js
  frontend/src/views/compare-runs.js
  frontend/src/views/compare-runs.test.js
  frontend/src/views/jenkins-job-analysis.js
  frontend/src/views/jenkins-job-analysis.test.js
  frontend/src/views/jenkins-job.js
  frontend/src/views/jenkins-job.test.js
  frontend/src/widgets/result-summary-apex.test.js
Due: frontend

Add ouiaId props
  frontend/src/components/file-upload.js
  frontend/src/components/filtering/active-filters.js
  frontend/src/components/filtering/admin-filter.js
  frontend/src/components/filtering/meta-filter.js
  frontend/src/components/filtering/result-filter.js
  frontend/src/components/filtering/run-filter.js
  frontend/src/components/ibutsu-header.js
  frontend/src/components/modals/add-token-modal.js
  frontend/src/components/modals/delete-modal.js
  frontend/src/components/modals/edit-widget-modal.js
  frontend/src/components/modals/new-dashboard-modal.js
  frontend/src/components/modals/new-widget-wizard.js
  frontend/src/components/sidebar.js
  frontend/src/components/user-dropdown.js
  frontend/src/pages/View.js
  frontend/src/pages/admin/project-list.js
  frontend/src/pages/admin/project-list.test.js
  frontend/src/pages/admin/user-list.js
  frontend/src/pages/admin/user-list.test.js
  frontend/src/pages/dashboard.js
  frontend/src/pages/forgot-password.js
  frontend/src/pages/login.js
  frontend/src/pages/result-list.js
  frontend/src/pages/result.js
  frontend/src/pages/run-list.js
  frontend/src/pages/run.js
  frontend/src/pages/sign-up.js
  frontend/src/pages/user-tokens.js
  frontend/src/setupTests.js
  frontend/src/views/compare-runs.js
  frontend/src/views/compare-runs.test.js
  frontend/src/views/jenkins-job-analysis.js
  frontend/src/views/jenkins-job-analysis.test.js
  frontend/src/views/jenkins-job.test.js
Due: frontend

Add test coverage for frontend modals
  frontend/src/components/modals/add-token-modal.js
  frontend/src/components/modals/add-token-modal.test.js
  frontend/src/components/modals/delete-modal.js
  frontend/src/components/modals/delete-modal.test.js
  frontend/src/components/modals/edit-widget-modal.js
  frontend/src/components/modals/edit-widget-modal.test.js
  frontend/src/components/modals/new-dashboard-modal.js
  frontend/src/components/modals/new-dashboard-modal.test.js
  frontend/src/components/modals/new-widget-wizard.js
  frontend/src/setupTests.js
Due: frontend

Add test for backend base_model
  backend/tests/test_base_model.py
Due: none

Add filtering test coverage, remove MetaFilter
  AGENTS.md
  frontend/package.json
  frontend/src/components/classification-dropdown.js
  frontend/src/components/filtering/active-filters.test.js
  frontend/src/components/filtering/admin-filter.test.js
  frontend/src/components/filtering/filtered-table-card.test.js
  frontend/src/components/filtering/meta-filter.js
  frontend/src/components/filtering/result-filter.test.js
  frontend/src/components/filtering/run-filter.test.js
  frontend/src/components/modals/add-token-modal.test.js
  frontend/src/components/modals/edit-widget-modal.test.js
  frontend/src/components/modals/new-dashboard-modal.test.js
  frontend/src/components/modals/new-widget-wizard.test.js
  frontend/src/components/param-dropdown.js
  frontend/src/components/result-view.test.js
  frontend/src/components/widget-header.js
  frontend/src/pages/admin/user-list.test.js
  frontend/src/pages/run.test.js
  frontend/src/views/compare-runs.js
  frontend/src/views/compare-runs.test.js
  frontend/src/views/jenkins-job-analysis.test.js
  frontend/src/views/jenkins-job.test.js
  frontend/src/widgets/result-summary-apex.test.js
Due: frontend

Use utils for filter formation
  backend/ibutsu_server/controllers/result_controller.py
  frontend/src/pages/run.js
Due: backend, frontend

Updates to support meta filter population
  backend/ibutsu_server/openapi/openapi.yaml
  frontend/src/components/filtering/result-filter.js
  frontend/src/components/filtering/run-filter.js
  frontend/src/components/hooks/use-table-filters.js
  frontend/src/pages/result-list.js
  frontend/src/pages/run-list.js
Due: backend, frontend

Include test coverage for run and results
  frontend/src/components/filtering/result-filter.test.js
  frontend/src/components/filtering/run-filter.test.js
  frontend/src/pages/result-list.test.js
  frontend/src/pages/run-list.test.js
Due: none

Add frontend widget test coverage
  frontend/src/widgets/filter-heatmap.test.js
  frontend/src/widgets/generic-area.test.js
  frontend/src/widgets/generic-bar.test.js
  frontend/src/widgets/importance-component.test.js
  frontend/src/widgets/result-widget-legend.test.js
Due: none

Limit result aggregator query to 90 days
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/tests/widgets/test_result_aggregator.py
  frontend/src/components/filtering/result-filter.js
Due: backend, frontend

DB index for result-aggregation optimization
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/db/upgrades.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/tests/test_upgrades.py
  backend/tests/widgets/test_result_aggregator.py
  frontend/src/components/filtering/result-filter.js
  frontend/src/pages/run-list.test.js
Due: backend, frontend

Path conditions:
  backend: any of: backend/ibutsu_server/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
  frontend: any of: frontend/src/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
