Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error

flags:
  backend:
    paths:
      - backend/ibutsu_server/
    carryforward: true
    after_n_builds: 3  # Wait for all 3 Python versions
    target: 7%
    threshold: 0.5%

  frontend:
    paths:
      - frontend/src/
    carryforward: true
    target: 7%
    threshold: 0.5%

comment:
  layout: "header, diff, flags, files, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main

ignore:
  - "backend/ibutsu_server/test/**"
  - "backend/ibutsu_server/tests/**"
  - "backend/ibutsu_server/migrations/**"
  - "frontend/src/**/*.test.js"
  - "frontend/src/**/*.spec.js"
  - "frontend/src/setupTests.js"
  - "frontend/src/index.js"

Adjust openapi validation script mounting pattern
  scripts/validate-openapi.sh
Due: none

Apply shellcheck to the bash files
  .pre-commit-config.yaml
  backend/celery_worker.sh
  backend/docker/entrypoint.sh
  build.sh
  build_deploy.sh
  docs/watch-build.sh
  podman_build.sh
  scripts/ibutsu-pod.sh
  scripts/make-release.sh
  scripts/validate-openapi.sh
Due: none

Apply spellcheck via pre-commit
  .pre-commit-config.yaml
  README.md
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/controllers/login_controller.py
  backend/ibutsu_server/controllers/widget_controller.py
  backend/ibutsu_server/openapi/openapi.yaml
  backend/ibutsu_server/test/test_widget_config_controller.py
  backend/ibutsu_server/util/oauth.py
  docs/source/developer-guide/getting-started.rst
  docs/source/user-guide/filter-help.rst
Due: backend

File updates for 2.8.2
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Update hatch usage
  backend/HATCH_USAGE.md
Due: none

Exclude tests dir from builds and packaging
  backend/.dockerignore
  backend/pyproject.toml
Due: none

Update test mocking
  AGENTS.md
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/controllers/test_login_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/controllers/test_task_controller.py
  backend/tests/controllers/test_user_controller.py
  backend/tests/controllers/test_widget_config_controller.py
  backend/tests/controllers/test_widget_controller.py
  backend/tests/test_importers.py
  backend/tests/test_init.py
  backend/tests/test_tasks.py
  backend/tests/test_widgets.py
Due: none

Add paren to calculations in run_agg
  backend/ibutsu_server/widgets/run_aggregator.py
Due: backend

add paren to access_analysis for correct calc
  backend/ibutsu_server/widgets/accessibility_analysis.py
Due: backend

api encoding spec for files, improved validation
  backend/ibutsu_server/controllers/artifact_controller.py
  backend/ibutsu_server/openapi/openapi.yaml
  backend/ibutsu_server/test/test_artifact_controller.py
Due: backend

Fix re-rendering on ResultView
  frontend/src/components/classify-failures.js
  frontend/src/components/hooks/use-pagination.js
  frontend/src/components/hooks/use-table-filters.js
  frontend/src/components/result-view.js
  frontend/src/components/result-view.test.js
  frontend/src/components/test-history.js
  frontend/src/pages/result-list.js
  frontend/src/pages/result.js
  frontend/src/pages/run-list.js
Due: frontend

Use arrays for cli options in ibutsu-pod
  scripts/ibutsu-pod.sh
Due: none

Release 2.8.3
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Remove report-builder filter links
  frontend/src/components/filtering/active-filters.js
  frontend/src/components/filtering/result-filter.js
  frontend/src/components/filtering/run-filter.js
  frontend/src/pages/result-list.js
  frontend/src/pages/run-list.js
Due: frontend

Add ModelMixin datetime parsing
  backend/ibutsu_server/db/models.py
Due: backend

Add get_import_list to controller and API spec
  backend/ibutsu_server/controllers/import_controller.py
  backend/ibutsu_server/openapi/openapi.yaml
Due: backend

dashboard_controller: use fetched project id
  backend/ibutsu_server/controllers/dashboard_controller.py
Due: backend

user_controller, check token ownership and datetime
  backend/ibutsu_server/controllers/user_controller.py
Due: backend

Update controller tests
  backend/tests/controllers/test_admin_project_controller.py
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_dashboard_controller.py
  backend/tests/controllers/test_task_controller.py
Due: none

Disable login for inactive accounts
  backend/ibutsu_server/controllers/login_controller.py
Due: backend

Add project filter check for runs and results
  backend/ibutsu_server/controllers/result_controller.py
  backend/ibutsu_server/controllers/run_controller.py
  backend/ibutsu_server/filters.py
Due: backend

Add filter check for project and test coverage
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_result_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/test_filters.py
  codecov.yml
Due: none

Updates to test coverage
  backend/pyproject.toml
  backend/tests/controllers/test_widget_controller.py
  backend/tests/test_ibutsu_server.py
  backend/tests/test_importers.py
  backend/tests/test_tasks.py
  backend/tests/test_widgets.py
  backend/tests/widgets/test_filter_heatmap.py
  backend/tests/widgets/test_jenkins_heatmap.py
Due: none

Use auth_headers fixture
  backend/pyproject.toml
  backend/tests/controllers/test_admin_project_controller.py
  backend/tests/controllers/test_admin_user_controller.py
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_dashboard_controller.py
  backend/tests/controllers/test_group_controller.py
  backend/tests/controllers/test_health_controller.py
  backend/tests/controllers/test_import_controller.py
  backend/tests/controllers/test_project_controller.py
  backend/tests/controllers/test_result_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/controllers/test_task_controller.py
  backend/tests/controllers/test_user_controller.py
  backend/tests/controllers/test_widget_config_controller.py
  backend/tests/controllers/test_widget_controller.py
  backend/tests/fixtures/database.py
Due: none
