Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 85%
        threshold: 1%
        if_ci_failed: error

      backend:
        target: 85%
        threshold: 1%
        if_ci_failed: error
        flags:
          - backend

      frontend:
        target: 85%
        threshold: 1%
        if_ci_failed: error
        flags:
          - frontend

    patch:
      default:
        target: 85%
        threshold: 1%
        if_ci_failed: error

flags:
  backend:
    paths:
      - backend/ibutsu_server/
    carryforward: true
    # Enable flag-specific badges
    assume_all_flags: false

  frontend:
    paths:
      - frontend/src/
    carryforward: true
    # Enable flag-specific badges
    assume_all_flags: false

comment:
  layout: "header, diff, flags, files, footer"
  behavior: default
  require_changes: false

ignore:
  - "backend/tests/**"
  - "frontend/src/**/*.test.js"
  - "frontend/src/**/*.spec.js"
  - "frontend/src/setupTests.js"
  - "frontend/src/index.js"

Add first actual alembic migration
  backend/alembic/versions/fc3df1d9ee4e_remove_unused_meta_table_and_add_.py
  backend/ibutsu_server/db/models.py
Due: backend

Add to backend controller tests
  AGENTS.md
  backend/ibutsu_server/controllers/task_controller.py
  backend/pyproject.toml
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_login_controller.py
  backend/tests/controllers/test_project_controller.py
  backend/tests/controllers/test_result_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/controllers/test_task_controller.py
  backend/tests/controllers/test_widget_controller.py
  backend/tests/fixtures/utilities.py
  docs/source/developer-guide/test-patterns.rst
  docs/source/developer-guide/testing-guide.rst
  docs/source/index.rst
Due: backend

add logging to the alembic fc3df1d9ee4e
  backend/alembic/versions/fc3df1d9ee4e_remove_unused_meta_table_and_add_.py
  backend/scripts/init_db.py
Due: none

Updates for handling import files
  AGENTS.md
  backend/alembic/versions/53994db980f1_enforce_import_created_not_null_and_add_.py
  backend/alembic/versions/8cf9148b9ad9_add_cascade_delete_to_import_files.py
  backend/ibutsu_server/celery_utils.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/tasks/db.py
  backend/ibutsu_server/tasks/importers.py
  backend/tests/tasks/test_db.py
  backend/tests/test_importers.py
  docs/source/developer-guide/database-maintenance.rst
  docs/source/index.rst
Due: backend

3.0.0 versioned and badge updates
  README.md
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Extend controller tests
  backend/tests/controllers/test_health_controller.py
  backend/tests/controllers/test_login_controller.py
  backend/tests/controllers/test_project_controller.py
  backend/tests/controllers/test_result_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/controllers/test_task_controller.py
  backend/tests/controllers/test_user_controller.py
  backend/tests/controllers/test_widget_config_controller.py
  backend/tests/fixtures/utilities.py
Due: none

Backend testing over 80% for every module
  AGENTS.md
  backend/tests/controllers/test_health_controller.py
  backend/tests/controllers/test_login_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/tasks/test_tasks_init.py
  backend/tests/widgets/test_importance_component.py
  docs/source/developer-guide/backend-testing.rst
  docs/source/developer-guide/frontend-testing.rst
  docs/source/developer-guide/test-patterns.rst
  docs/source/developer-guide/testing-guide.rst
  docs/source/index.rst
Due: none

increased coverage for utils, filters, celery
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/controllers/test_admin_project_controller.py
  backend/tests/controllers/test_admin_user_controller.py
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_dashboard_controller.py
  backend/tests/controllers/test_import_controller.py
  backend/tests/controllers/test_login_controller.py
  backend/tests/controllers/test_project_controller.py
  backend/tests/controllers/test_user_controller.py
  backend/tests/tasks/test_db.py
  backend/tests/tasks/test_results.py
  backend/tests/tasks/test_runs.py
  backend/tests/test_alembic_env.py
  backend/tests/test_celery_app.py
  backend/tests/test_celery_utils.py
  backend/tests/test_filters.py
  backend/tests/test_importers.py
  backend/tests/test_main.py
  backend/tests/test_util.py
Due: none

Add frontend test coverage and documentation
  docs/source/developer-guide/frontend-testing.rst
  frontend/src/components/classify-failures.test.js
  frontend/src/components/filtering/result-filter.test.js
  frontend/src/components/ibutsu-header.test.js
  frontend/src/components/test-history.test.js
  frontend/src/pages/admin/project-edit.test.js
  frontend/src/pages/dashboard.test.js
  frontend/src/pages/login.test.js
  frontend/src/pages/result-list.test.js
  frontend/src/test-utils/constants.js
  frontend/src/test-utils/mock-data.js
  frontend/src/test-utils/test-helpers.js
  frontend/src/widgets/filter-heatmap.test.js
  frontend/src/widgets/result-aggregate-apex.test.js
  frontend/src/widgets/run-aggregate-apex.test.js
Due: frontend

increased coverage for utils, filters, celery
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/controllers/test_admin_project_controller.py
  backend/tests/controllers/test_admin_user_controller.py
  backend/tests/controllers/test_artifact_controller.py
  backend/tests/controllers/test_dashboard_controller.py
  backend/tests/controllers/test_group_controller.py
  backend/tests/controllers/test_import_controller.py
  backend/tests/controllers/test_login_controller.py
  backend/tests/controllers/test_project_controller.py
  backend/tests/controllers/test_result_controller.py
  backend/tests/controllers/test_run_controller.py
  backend/tests/controllers/test_user_controller.py
  backend/tests/controllers/test_widget_config_controller.py
  backend/tests/controllers/test_widget_controller.py
  backend/tests/db/test_db_util.py
  backend/tests/helpers/db_builders.py
  backend/tests/tasks/test_db.py
  backend/tests/tasks/test_results.py
  backend/tests/tasks/test_runs.py
  backend/tests/tasks/test_tasks_init.py
  backend/tests/test_alembic_env.py
  backend/tests/test_celery_app.py
  backend/tests/test_celery_utils.py
  backend/tests/test_encoder.py
  backend/tests/test_filters.py
  backend/tests/test_importers.py
  backend/tests/test_init.py
  backend/tests/test_main.py
  backend/tests/test_util.py
  backend/tests/util/test_count.py
  backend/tests/util/test_login.py
  backend/tests/widgets/test_result_aggregator.py
Due: none

Updates for python and sqlalchemy
  AGENTS.md
  backend/ibutsu_server/util/count.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/ibutsu_server/widgets/run_aggregator.py
  backend/tests/conftest.py
  backend/tests/controllers/test_result_controller.py
  backend/tests/test_celery_app.py
  backend/tests/test_init.py
Due: backend

Move to nodejs-20 minimal
  AGENTS.md
  frontend/docker/Dockerfile.frontend
  frontend/docker/entrypoint.sh
  frontend/package.json
Due: none

Shrinking bundle size
  frontend/src/components/empty-object.js
  frontend/src/components/filtering/active-filters.js
  frontend/src/components/filtering/result-filter.js
  frontend/src/components/hooks/use-table-filters.js
  frontend/src/components/hooks/use-widgets.js
  frontend/src/components/modals/edit-widget-modal.js
  frontend/src/components/modals/new-dashboard-modal.js
  frontend/src/components/multi-value-input.js
  frontend/src/components/result-view.js
  frontend/src/components/table-states.js
  frontend/src/components/user-dropdown.js
  frontend/src/components/widget-header.js
  frontend/src/constants.js
  frontend/src/pages/admin/project-edit.js
  frontend/src/pages/admin/project-list.js
  frontend/src/pages/admin/user-edit.js
  frontend/src/pages/admin/user-list.js
  frontend/src/pages/login.js
  frontend/src/pages/reset-password.js
  frontend/src/pages/run.js
  frontend/src/pages/sign-up.js
  frontend/src/pages/user-profile.js
  frontend/src/pages/user-tokens.js
  frontend/src/routes/admin.js
  frontend/src/routes/app.js
  frontend/src/routes/base.js
  frontend/src/routes/ibutsu-page.js
  frontend/src/utilities/tables.js
  frontend/src/views/accessibility-analysis.js
  frontend/src/views/jenkins-job.js
  frontend/src/widgets/filter-heatmap.js
Due: frontend

Add common loading spinners components
  frontend/src/components/hooks/use-widgets.js
  frontend/src/components/loading-spinners.js
  frontend/src/routes/admin.js
  frontend/src/routes/app.js
  frontend/src/routes/base.js
Due: frontend

Add --images mode to ibutsu-pod
  AGENTS.md
  scripts/ibutsu-pod.sh
Due: none

increased coverage for utils, filters, celery
  backend/tests/test_celery_app.py
  backend/tests/test_util.py
Due: none

Updates to frontend tests for locators
  AGENTS.md
  frontend/src/components/classify-failures.test.js
  frontend/src/components/filtering/filtered-table-card.test.js
  frontend/src/components/ibutsu-header.test.js
  frontend/src/components/last-passed.js
  frontend/src/components/modals/edit-widget-modal.test.js
  frontend/src/components/modals/new-widget-wizard.test.js
  frontend/src/components/result-view.test.js
  frontend/src/components/test-history.js
  frontend/src/components/test-history.test.js
  frontend/src/pages/admin/project-edit.test.js
  frontend/src/pages/dashboard.test.js
  frontend/src/pages/login.test.js
  frontend/src/widgets/filter-heatmap.js
  frontend/src/widgets/result-aggregate-apex.test.js
  frontend/src/widgets/run-aggregate-apex.test.js
Due: frontend

Adjust env setup for backend tests
  backend/tests/test_init.py
Due: none

Version 3.0.1 file taggingt push -f
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Split layers for frontend install
  frontend/docker/Dockerfile.frontend
Due: none

Update frontend/docker/Dockerfile.frontend
  frontend/docker/Dockerfile.frontend
Due: none
