Repository ibutsu/ibutsu-server: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

DB index for result-aggregation optimization
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/db/upgrades.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/tests/test_upgrades.py
  backend/tests/widgets/test_result_aggregator.py
  frontend/src/components/filtering/result-filter.js
  frontend/src/pages/run-list.test.js
Due: backend, frontend

Limit result aggregator query to 90 days
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/tests/widgets/test_result_aggregator.py
  frontend/src/components/filtering/result-filter.js
Due: backend, frontend

upgrade for widget config indexing
  backend/ibutsu_server/db/upgrades.py
  backend/tests/test_upgrades.py
Due: backend

Logging and raw_connection handling in db upgrade
  backend/ibutsu_server/db/upgrades.py
Due: backend

upgrade_10 idempotency
  backend/ibutsu_server/db/upgrades.py
Due: backend

Revert "upgrade_10 idempotency"
  backend/ibutsu_server/db/upgrades.py
Due: backend

Revert "Logging and raw_connection handling in db upgrade"
  backend/ibutsu_server/db/upgrades.py
Due: backend

Revert "upgrade for widget config indexing"
  backend/ibutsu_server/db/upgrades.py
  backend/tests/test_upgrades.py
Due: backend

Revert "DB index for result-aggregation optimization"
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/db/upgrades.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/tests/test_upgrades.py
  backend/tests/widgets/test_result_aggregator.py
  frontend/src/components/filtering/result-filter.js
  frontend/src/pages/run-list.test.js
Due: backend, frontend

Revert "Limit result aggregator query to 90 days"
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/tests/widgets/test_result_aggregator.py
  frontend/src/components/filtering/result-filter.js
Due: backend, frontend

Limit days for result_aggregator to 90 day default
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/tests/widgets/test_result_aggregator.py
Due: backend

Version 2.8.6 references
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Due: backend

Handle filter timeout separately
  frontend/src/components/filtering/result-filter.js
  frontend/src/components/filtering/result-filter.test.js
Due: frontend

Handle postgres error in widget_controller
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/controllers/widget_controller.py
  backend/tests/controllers/test_widget_controller.py
  backend/tests/fixtures/database.py
  frontend/src/components/ibutsu-header.js
Due: backend, frontend

Handle filter timeout separately
  frontend/src/components/filtering/result-filter.test.js
  frontend/src/components/filtering/run-filter.test.js
  frontend/src/pages/result-list.test.js
  frontend/src/pages/run-list.test.js
Due: none

Conditional use of meta values based on operator
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/tests/widgets/test_result_aggregator.py
  frontend/src/components/filtering/result-filter.js
  frontend/src/components/filtering/result-filter.test.js
  frontend/src/components/filtering/run-filter.test.js
  frontend/src/pages/result-list.test.js
  frontend/src/pages/run-list.test.js
Due: backend, frontend

Update frontend deps, include pf/react-drag-drop
  frontend/package.json
  frontend/yarn.lock
Due: none

Add indicies to widget_config
  backend/CONNEXION3_MIGRATION.md
  backend/FLASK3_MIGRATION.md
  backend/MIGRATION_SUMMARY.md
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/db/__init__.py
Due: backend

Apply suggestion from @Copilot
  frontend/package.json
Due: none

Apply suggestion from @mshriver
  frontend/package.json
Due: none

Fix AuthService to check for real tokens
  backend/docker/entrypoint.sh
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/__main__.py
  backend/ibutsu_server/controllers/admin/user_controller.py
  backend/ibutsu_server/controllers/dashboard_controller.py
  backend/ibutsu_server/controllers/task_controller.py
  backend/ibutsu_server/controllers/widget_config_controller.py
  backend/ibutsu_server/controllers/widget_controller.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/db/upgrades.py
  backend/ibutsu_server/db/util.py
  backend/ibutsu_server/filters.py
  backend/ibutsu_server/openapi/openapi.yaml
  backend/ibutsu_server/tasks/__init__.py
  backend/ibutsu_server/tasks/importers.py
  backend/ibutsu_server/tasks/reports.py
  backend/ibutsu_server/tasks/runs.py
  backend/ibutsu_server/test/__init__.py
  backend/ibutsu_server/test/test_tasks.py
  backend/ibutsu_server/test/test_widget_config_controller.py
  backend/ibutsu_server/test/test_widget_controller.py
  backend/ibutsu_server/test/test_widgets_result_summary.py
  backend/ibutsu_server/util/app_context.py
  backend/ibutsu_server/util/celery_task.py
  backend/ibutsu_server/util/cors.py
  backend/ibutsu_server/util/count.py
  backend/ibutsu_server/util/redis_lock.py
  backend/ibutsu_server/util/widget.py
  backend/ibutsu_server/widgets/importance_component.py
  backend/ibutsu_server/widgets/jenkins_heatmap.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/ibutsu_server/widgets/run_aggregator.py
  backend/tests/test_tasks.py
  frontend/src/components/ProtectedRoute.js
  frontend/src/pages/login.js
  frontend/src/pages/service-worker.js
  frontend/src/routes/base.js
  frontend/src/utilities/auth.js
  frontend/src/utilities/http.js
Due: backend, frontend

Update frontend deps, include pf/react-drag-drop (#775)
  frontend/package.json
  frontend/yarn.lock
Due: none

Path conditions:
  backend: any of: backend/ibutsu_server/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
  frontend: any of: frontend/src/, but not: backend/tests/**, frontend/src/**/*.test.js, frontend/src/**/*.spec.js, frontend/src/setupTests.js, frontend/src/index.js
